Node- functions for dummy sensor data generation.json
[{"id":"7e41e446.751d8c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"10a3d5ac.abe78a","type":"inject","z":"7e41e446.751d8c","name":"Heart_Sensor","topic":"heart_rate","payload":"heart_rate","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":161,"y":106,"wires":[["e1a9abc3.c8f3a8"]]},{"id":"10df30fd.698d8f","type":"inject","z":"7e41e446.751d8c","name":"Temperature_sensor","topic":"Body_temperature","payload":"body_temperature","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":165,"y":235,"wires":[["e1a9abc3.c8f3a8"]]},{"id":"e1a9abc3.c8f3a8","type":"delay","z":"7e41e446.751d8c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":449,"y":220,"wires":[["afd1918f.35f75"]]},{"id":"7c611b2d.7b1b64","type":"inject","z":"7e41e446.751d8c","name":"Spirometers_sensor","topic":"respiratory_rate","payload":"respiratory_rate","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":163,"y":323,"wires":[["e1a9abc3.c8f3a8"]]},{"id":"14c25a87.679b65","type":"inject","z":"7e41e446.751d8c","name":"Pulse_sensor","topic":"Pulse_rate","payload":"pulse_rate","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":131,"y":420,"wires":[["e1a9abc3.c8f3a8"]]},{"id":"afd1918f.35f75","type":"function","z":"7e41e446.751d8c","name":"Sensor_function","func":"var payload=msg.payload;\nvar min;\nvar max;\n\nif(payload==\"body_temperature\")\n{\n    min=98;\n    max=99;\n    msg.payload=Math.floor(Math.random() *  (max - min + 1)) + min;\n}\n\nif(payload==\"heart_rate\")\n{\n     min= 70;\n     max = 120;\n    msg.payload =Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif(payload==\"pulse_rate\")\n{\n     min = 60;\n     max = 100;\n    msg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif(payload==\"respiratory_rate\")\n{\n     min = 12;\n     max = 20;\n    msg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":327,"wires":[["e84a44a6.cb59c8"]]},{"id":"e84a44a6.cb59c8","type":"debug","z":"7e41e446.751d8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":673,"y":416,"wires":[]}]